@import "./globals";
.App {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  padding: 5%;
  background-color: $backgroundColor;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  color: black !important;
  /*.right {
    flex: 2;
  }
  .left {
    flex: 2;
  }*/
}
