.board {
  width: 100%;
  height: 100%;
  background-color: #296317;
  padding: 3%;
}

.gameboard{ 
  /*display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;*/
}

.box {
  background-color: #d9d9d9;
  border: 2px solid black;
}